<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PLaylist</title>
    <link rel="stylesheet/less" type="text/css" href="/static/style.less" media="screen" />
    <script type="text/javascript" src="/static/less.js"></script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/underscore.js"></script>
    <script type="text/javascript" src="/static/backbone.js"></script>
    <script type="text/javascript" src="/static/mustache.js"></script>
    <script type="text/javascript" src="/static/index.js"></script>
</head>
<body>
    <header>
        <h1><a href="/">My Playlists</a></h1>
        <h4>I like music.</h4>
    </header>

    <nav id="band-list-wrapper">
        Loading...
    </nav>

    <article id="band-view">
        <h3>Please, select playlist :)</h3>
    </article>

    <script type="text/template" id="bandListItemTemplate">
        <a href="#">{{name}}</a>
    </script>

    <script type="text/template" id="bandShowTemplate">
        <a href="#" class="destroy">Destroy</a>
        <h3>{{name}}</h3>
        <p>{{description}}</p>
    </script>
</body>
</html>