<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PLaylist</title>
    <link rel="stylesheet/less" type="text/css" href="/static/style.less" media="screen" />
    <script type="text/javascript" src="/static/less.js"></script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/underscore.js"></script>
    <script type="text/javascript" src="/static/backbone.js"></script>
    <script type="text/javascript" src="/static/mustache.js"></script>
    <script type="text/javascript" src="/static/index.js"></script>
</head>
<body>
    <header id="header" class="row">
        <div class="eight columns">
            <h1><a href="/">My Playlists</a></h1>
            <h4 class="subheader">I like music.</h4>
        </div>
    </header>

    <div class="row">
        <div id="playListBox" class="four columns">
            Loading...
        </div>

        <div id="selectedPlayList" class="eight columns">
            <h3>Please, select playlist :)</h3>
        </div>
    </div>
</body>
</html>